<div class="jumbotron">
  <div class="container-fluid">
    <div *ngFor="let row of drumButtonRows" class="row-fluid">
      <div *ngFor="let button of row" class="col-xs-4">
        <button *ngIf="button.label"
                class="btn"
                [class.btn-primary]="!button.pressed"
                [class.btn-success]="button.pressed"
                (mousedown)="pressButton(button.keycode)"
                (mouseup)="releaseButton(button.keycode)">
          {{button.label}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p>
    Audio sample pack retrieved from <a href="https://trisamples.com/808-trapstep-pack-vol-1/">TriSamples</a>
  </p>
</div>
